:root {
  --body-text-color: #4d4e53;
}

body, #navbar li a {
  color: var(--body-text-color);
}

h1 {
	text-align: center;
	font-size: 26px;
}

h2 {
  font-size: 24px;	
}

h1, h2,h3, h4, h5, h6 {
	font-weight: 400;
	color: black;
}



html, body {
	height: 100%;
}

body {
	font-size: 18px;
	margin: 0;
}
.container {
	padding: 0 5%;
}

section {
	margin-top: 15px;
	margin-bottom: 15px;
}

#navbar ul {
	list-style: none;
	padding: 0;
	border-top: 1px solid black;
	border-bottom: 2px solid black;
	height: 210px;
	overflow-y: scroll;
}

#navbar li {
	margin: 0;
	padding: 10px 0 10px 5%;
	border-top: 1px solid black;
}

#navbar li a {
	display: block;
	text-decoration: none;
}

p {
	margin-left: 10px;
}

.main-section ul {
	list-style-position: inside;
	margin: 0;
}

.main-section li {
	padding-top: 10px;
}

code {
  background-color: #F7F7F7;
}

.code-block {
  font-size: 14px;
  padding: 15px;
}

@media (min-width: 768px) {
	body {
		display: flex;
	}
	
	header {
		flex-shrink: 0;
	}
	
	#navbar ul {
		height: inherit;
		overflow-y: inherit;
		border: 0;
	}
	
	#navbar li {
    margin: 0;
    padding: 10px 5% 10px 10%;
	}
	
	#main-header {
		border-right: solid 2px black;
		width: 280px;
		position: fixed;
		height: 100%;
	}
	
	#main-doc {
	  margin-left: 280px;
	}
	
	h1 {
		text-align: left;
		margin: 10px 0;
		padding: 0 5% 0 10%;
	}
}